@page
@model Science_WebSite.Pages.BD_Pages.Post_4Model
@{
}
<div id="content">
    <section class="single-project-section">
        <div class="container">
            <div class="title-project">
                <h1>Вселенная</h1>
            </div>
            <div class="project-gallery">
                <img alt="" src="~/upload/portfolio/newsingle4.jpg" />
            </div>
        </div>
    </section>
    <section class="single-project-section">
        <div class="container">
            <div class="project-content">
                <div class="row">
                    <h1>Было ли начало у вселенной</h1>

                    <p>Нет человека, которого не восхищало бы усыпанное звездами небо. И каждый наверняка задумывался над вопросом «а было ли у Вселенной начало?»</p>

                    <p>Д. Блок, профессор астрономии говорит: «Идею, что когда - то Вселенная не существовала, всегда воспринималась в штыки». Но в последние десятилетия, появилось достаточно доказательств, чтобы поверить в то, что у Вселенной было начало. На сегодняшний день практически все ученые приходят к выводу, что Вселенная появилась благодаря взрыву, после которого материя начала распространяться в разных направлениях.</p>

                    <p>Что привело ученых такому выводу?</p>

                    <p>Теория Эйнштейна, о том, что Вселенная либо расширяется, либо сжимается, шла вразрез с общепринятой в то время теорией стационарной Вселенной. Эйнштейн ввел в свои расчеты величину, которую назвал «космологической постоянной». Этим он пытался согласовать свою теорию с тем, что считалось тогда научной истиной.</p>

                    <p>Но уже спустя 4 года Эйнштейн накопил достаточно доказательств, чтобы признать свою поправку «величайшей ошибкой». Такие доказательства появились, когда в астрономической обсерватории в Калифорнии был установлен 100 – дюймовый телескоп. Наблюдения Вселенной в этот телескоп доказали, что она действительно расширяется.</p>

                    <p>До этого получалось рассмотреть лишь некоторые звезды Млечного Пути. Наблюдались также расплывчатые пятна, известные как туманности, но принимали их за газообразования. Но с помощью этого мощного телескопа выяснилось, что это не газообразная материя, а галактики подобные нашей. На сегодняшний день насчитывается до 125 миллиардов галактик, каждая из которых содержит миллиарды звезд.</p>

                    <p>Дальше выяснилось, что эти галактики удаляются от нас. И чем дальше находятся галактики, тем быстрее они удаляются от нас. Скорость удаления галактик, ученые определяют при помощи спектрографа. Свет, который исходит от далеких звезд, пропускается через призму, раскладывается при этом на разные цветовые составляющие.</p>

                    <p>Свет от удаляющегося объекта, красный. Его называют красным смещением. А свет от приближающихся объектов, фиолетовый. Соответственно его называют фиолетовым смещением. Было замечено, что лишь за исключением нескольких близких нам галактик, все остальные имеют красное смещение. Так и выяснилось, что галактика расширяется, при чем по определенным законам. Скорость расширения определяется степенью красного смещения спектра.</p>

                    <p>Если рассмотреть обратный процесс расширения нашей Вселенной, как если бы все это снято на пленку, то можно увидеть, как Вселенная не расширяется, а сжимается. И в конечном итоге, она вернулась бы в начальную точку. Из этого можно смело делать вывод, что когда - то у Вселенной было начало.</p>

                    <p>Еще совсем недавно считалось, что у Вселенной не было начала. Фрейд Хойл, к примеру, утверждал, что если бы «большой взрыв» был, то он должен был оставить свой след в виде некого реликтового излучения. Позже ученые Арно Пензиас и Роберт Вильсон открыли фоновое излучение – отсветы вспышки после «большого взрыва». Казалось, что после этого теория Большого взрыва была доказана.</p>

                    <p>Но после этого открытия стали возникать новые вопросы. Если теория Большого взрыва верна, то почему нет слабых неоднородных распределений этого излучения? Для того чтобы образовались Галактики, требовались более холодные и плотные зоны, где материя могла бы сжиматься. Но эксперименты сделанные астрономами не обнаружили таких неоднородностей.</p>

                    <p>Позже, когда был запущен спутник, открытия сделанные им стали историческими. Выяснилось, что мелкая зыбь, была той неоднородностью, которая осталась в пространстве после Большого взрыва.</p>

                    <p>То, что Вселенная имела начало, говорит в пользу того, что она была сотворена. Ученый Пензиас, который участвовал в открытии фонового излучения, делает вывод, что эти открытия приводит к уникальному выводу: Вселенная была сотворена из ничего. А Джордж Смут, который руководит группой, сказал: «Мы обнаружили доказательства появления Вселенной». Он также добавил, что быть свидетелем таких открытий, все равно, что видеть Бога.</p>

                    <p>И все таки, не все ученые признают, что у Вселенной было начало, или момент сотворения. Они изо всех сил стараются найти альтернативные теории появления Вселенной.</p>
                    @*<p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>*@
                </div>
            </div>

        </div>
    </section>
</div>
