@page 
@model Science_WebSite.Pages.BD_Pages.Post_2Model
@{
}

<div id="content">

    <section class="single-project-section">
        <div class="container">
            <div class="title-project">
                <h1>Звезды</h1>
            </div>
            <div class="project-gallery">
                <img alt="" src="~/upload/portfolio/newsingle2.jpg" />
            </div>
        </div>
    </section>
    <section class="single-project-section">
        <div class="container">
            <div class="project-content">
                <div class="row">
                    <h1>Квазары и что мы о них знаем</h1>
                    <p>Во Вселенной существуют огромное множество ярких космических объектов: звезд, галактик, нейтронных звезд. Но яркость даже самой большой галактики с самой массивной черной дырой – не предел. Они гаснут на фоне самых ярких объектов нашей Вселенной – квазаров.</p1>


                    <p>Квазары – самые яркие объекты наблюдаемой Вселенной, их яркость превышает яркость галактик в несколько раз.</p>


                    <p>Сами они представляют из себя одну или более яркую Черную дыру, размер которой зачастую составляет несколько световых дней, что сравнимо с размерами нашей Солнечной системы.</p>


                    <p>В настоящее время распространена гипотеза, что квазары – это активные ядра галактик, и что их избыточный свет – результат того, что газ, попадая в Черную дыру и нагреваясь от высокой скорости и давления до миллионов градусов частично попадает на квазар, тем самым давая ему энергию для его свечения.</p>


                    <p>История квазаров началась с радиообсерваторирии «Джодрелл Бэнк», первый квазар был открыт в конце 1950 годов Аланом Сендиджем и Томасом Метьдьюзом и называется 3С 48. Он имел самое большое на то время красное смещение в радиодиапазоне, что и привело к появлению термина «квазар». Их обнаруживают благодаря их сильному красному смещению в радиодиапазоне.</p>


                    <p>Квазары используются в космонавтике, в частности межпланетными станциями. По радиоизлучению квазаров можно определять положение космических аппаратов в межпланетном пространстве.</p>


                    <p>Но несмотря на их большую яркость обнаружить их невооруженным глазом невозможно. Это обусловлено тем, что квазары – объекты далекие. Самый близкий открытый сейчас к нам квазар – 3С 273, расположен на расстоянии 600 миллионов световых лет от нас, состоит из двух Черных дыр и находится в галактике Маркарян 231.</p>


                    <p>Возникает вопрос: почему науке неизвестно более близких квазаров? Нет, не потому что ученые до сих пор не открыли более близкий квазар – он был бы виден без всяких телескопов.</p>

                    <p>Получается, квазаров больше нет, ведь свет от квазаров 3С 272 который мы видим сейчас начал свой путь к нам 600 миллионов лет назад, когда на Земле царил Эдикаранский период, на нашей планете не было ни одного знакомого нам материка, когда жизнь процветала лишь в море и многоклеточные организмы только начали появляться.</p>

                    <p>Почему же их больше нет? – возникает вопрос. Вероятно, закончились ресурсы для существования квазаров – газ. Газ квазар получает из своей галактики, но вероятно, квазару нужно очень много галактического газа, и этот газ очень быстро заканчивается.</p>

                    <p>Доказано, что существование квазара смертельно для галактик. После того, как квазар поглотит весь газ своей галактики, в ней уже не будут образовываться звезды, а квазар станет темной Черной дырой, которая будет удерживать на своей орбите звезды, пока те еще будут жить, огромная и грандиозная когда-то галактика оставит одну Черную дыру после себя.</p>

                    <p>По этому галактики ближе Маркаряна 231 либо когда-то обладали квазарами, после чего их не стало, либо были недостаточно мощными, чтобы у них появился квазар – чтобы квазар мог нагревать газ ему нужно быть очень большим, иначе он будет Черной дырой вроде дыры Млечного Пути, не способной нагревать газ до таких грандиозных температур, и следовательно, будет очень тусклым или вовсе, темной дырой.</p>

                    <p>Как правило галактики с квазарами очень велики по своим размерам, а после окончания галактического газа в галактиках еще долго будут светить звезды.</p>

                    <p>В далеких глубинах космоса вероятно, и сейчас образовываются квазары, но они так далеко, что когда их свет дойдет до нас, их уже скорее всего не будет.</p>

                    <p>Более того, квазары – источники тепла, следовательно, у них есть своя зона обитания, значит, в ней может зародиться жизнь.</p>

                    <p>Изучение квазаров может помочь космонавтике, в частности межзвездным аппаратам, которые могут заряжаться энергией квазаров.</p>
                </div>
            </div>

        </div>
    </section>
</div>

