@page
@model Science_WebSite.Pages.BD_Pages.Post_5Model
@{
}
<div id="content">

    <section class="single-project-section">
        <div class="container">
            <div class="title-project">
                <h1>Черные дыры</h1>
            </div>
            <div class="project-gallery">
                <img alt="" src="~/upload/portfolio/newsingle5.jpg" />
            </div>
        </div>
    </section>
    <section class="single-project-section">
        <div class="container">
            <div class="project-content">
                <div class="row">
                    <h1>Что такое черная дыра?</h1>

                    <p>Черные дыры - одни из самых странных и интересных объектов в космосе. Они чрезвычайно плотные, с таким сильным гравитационным притяжением, что даже свет не может ускользнуть от их хватки, если он подходит достаточно близко.</p>

                    <p>Альберт Эйнштейн впервые предсказал существование черных дыр в 1916 году со своей общей теорией относительности. Термин «черная дыра» был введен много лет спустя - в 1967 году американским астрономом Джоном Уилером. После десятилетий, когда черные дыры были известны только как теоретические объекты, первая физическая черная дыра была обнаружена в 1971 году.</p>

                    <p>Затем, в 2019 году в сотрудничестве с Event Horizon Telescope (EHT) было выпущено первое в истории изображение черной дыры. EHT засек черную дыру в центре галактики M87, когда телескоп изучал горизонт событий или область, из которой ничто не может вырваться. Изображение отображает внезапную потерю фотонов (частиц света). Это также открыло совершенно новую область исследований в области черных дыр, теперь, когда астрономы знают, как выглядит черная дыра.</p>

                    <p>Черные дыры бывают разных размеров, но существует три основных типа черных дыр. Масса и размер черной дыры определяют ее вид.</p>

                    <p>Самые маленькие из них известны как первичные черные дыры. Ученые считают, что этот тип черной дыры так же мал, как один атом, но с массой большой горы.</p>

                    <p>Самый распространенный тип черных дыр среднего размера называется "звездными". Масса звездной черной дыры может быть до 20 раз больше массы Солнца и может поместиться внутри шара диаметром около 15 километров. В галактике Млечный Путь могут существовать десятки черных дыр звездной массы.</p>

                    <p>Самые большие черные дыры называются "сверхмассивными". Эти черные дыры имеют массу, превышающую 1 миллион солнц вместе взятых, и они поместились бы внутри шара диаметром примерно с Солнечную систему. Научные данные говорят о том, что каждая большая галактика содержит в своем центре сверхмассивную черную дыру. Сверхмассивная черная дыра в центре галактики Млечный Путь называется Стрелец А. Она имеет массу, равную примерно 4 миллионам солнц, и поместилась бы внутри шара диаметром примерно с размер Солнца.</p>

                </div>
            </div>

        </div>
    </section>
</div>
