@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}


  <section id="home-section" class="slider1">

    <div class="tp-banner-container">
      <div class="tp-banner">
        <ul>
          <!-- SLIDE  -->
          <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
            <!-- MAIN IMAGE -->
            <img src="~/upload/slide/1.jpg" alt="slidebg1" data-lazyload="upload/slide/1.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
            <!-- LAYERS -->
            <!-- LAYER NR. 1 -->
            <div class="tp-caption small_text lft tp-resizeme rs-parallaxlevel-0"
                 data-x="300"
                 data-y="270"
                 data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                 data-speed="500"
                 data-start="1200"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.05"
                 data-endelementdelay="0.1"
                 style="z-index: 7; max-width: 100%; max-height: 100%; white-space: nowrap;">
              Чтобы заглянуть на миллионы лет назад
            </div>

            <!-- LAYER NR. 2 -->
            <div class="tp-caption finewide_medium_white lfr tp-resizeme rs-parallaxlevel-0"
                 data-x="-50"
                 data-y="330"
                 data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                 data-speed="500"
                 data-start="1800"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 style="z-index: 8; max-width: 100%; max-height: 100%; white-space: nowrap;">
              достаточно поднять голову
            </div>

            <!-- LAYER NR. 3 -->
            <div class="tp-caption finewide_medium_white lfl tp-resizeme rs-parallaxlevel-0"
                 data-x="10"
                 data-y="385"
                 data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                 data-speed="500"
                 data-start="1800"
                 data-easing="Power3.easeInOut"
                 data-splitin="none"
                 data-splitout="none"
                 data-elementdelay="0.1"
                 data-endelementdelay="0.1"
                 style="z-index: 9; max-width: 100%; max-height: 100%; white-space: nowrap;">
              и посмотреть на звезды
            </div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </section>
  <!-- End home section -->
  <!-- portfolio-section
      ================================================== -->
  <section id="portfolio-section" class="portfolio-section alt-style white-style-fullwidth">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h1>Наши Статьи</h1>
        </div>
      </div>
    </div>
    <div class="portfolio-box iso-call">
      <div class="project-post ">
        <img src="~/upload/portfolio/m1.jpg" alt="">
        <div class="hover-box">
          <a class="zoom" href="~/upload/portfolio/m1.jpg"><i class="fa fa-arrows-alt"></i></a>
          <a class="link" href="~/single-project.html"><i class="fa fa-link"></i></a>
          <div class="inner-hover">
            <h2>Планеты</h2>
            <p>Почему Уран вращается на боку?</p>
          </div>
        </div>
      </div>
      <div class="project-post snd-size">
        <img src="~/upload/portfolio/m2.jpg" alt="">
        <div class="hover-box">
          <a class="zoom" href="~/upload/portfolio/m2.jpg"><i class="fa fa-arrows-alt"></i></a>
          <a class="link" href="~/single-project.html"><i class="fa fa-link"></i></a>
          <div class="inner-hover">
            <h2>Звезды</h2>
            <p>Что мы знаем о квазарах?</p>
          </div>
        </div>
      </div>
      <div class="project-post grid-sizer">
        <img src="upload/portfolio/m3.jpg" alt="">
        <div class="hover-box">
          <a class="zoom" href="~/upload/portfolio/m3.jpg"><i class="fa fa-arrows-alt"></i></a>
          <a class="link" href="#"><i class="fa fa-link"></i></a>
          <div class="inner-hover">
            <h2>Астероиды</h2>
            <p>Состав астероидного вещества</p>
          </div>
        </div>
      </div>
      <div class="project-post ">
        <img src="~/upload/portfolio/m4.jpg" alt="">
        <div class="hover-box">
          <a class="zoom" href="~/upload/portfolio/m4.jpg"><i class="fa fa-arrows-alt"></i></a>
          <a class="link" href="#"><i class="fa fa-link"></i></a>
          <div class="inner-hover">
            <h2>Вселенная</h2>
            <p>Было ли начало у Вселенной?</p>
          </div>
        </div>
      </div>
      <div class="project-post snd-size">
        <img src="~/upload/portfolio/m5.jpg" alt="">
        <div class="hover-box">
          <a class="zoom" href="~/upload/portfolio/m5.jpg"><i class="fa fa-arrows-alt"></i></a>
          <a class="link" href="#"><i class="fa fa-link"></i></a>
          <div class="inner-hover">
            <h2>Черные дыры</h2>
            <p>Что такое черная дыра?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End portfolio section -->


<!-- Revolution slider -->
<script type="text/javascript">

  jQuery(document).ready(function () {

    jQuery('.tp-banner').show().revolution(
      {
        dottedOverlay: "none",
        delay: 10000,
        startwidth: 960,
        startheight: 700,
        hideThumbs: 200,

        thumbWidth: 100,
        thumbHeight: 50,
        thumbAmount: 5,

        navigationType: "bullet",
        navigationArrows: "none",

        touchenabled: "on",
        onHoverStop: "off",

        swipe_velocity: 0.7,
        swipe_min_touches: 1,
        swipe_max_touches: 1,
        drag_block_vertical: false,

        parallax: "mouse",
        parallaxBgFreeze: "on",
        parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

        keyboardNavigation: "off",

        navigationHAlign: "center",
        navigationVAlign: "bottom",
        navigationHOffset: 0,
        navigationVOffset: 120,

        shadow: 0,
        fullWidth: "off",
        fullScreen: "on",

        spinner: "spinner4",

        stopLoop: "off",
        stopAfterLoops: -1,
        stopAtSlide: -1,

        shuffle: "off",

        autoHeight: "off",
        forceFullWidth: "off",



        hideThumbsOnMobile: "off",
        hideNavDelayOnMobile: 1500,
        hideBulletsOnMobile: "off",
        hideArrowsOnMobile: "off",
        hideThumbsUnderResolution: 0,

        hideSliderAtLimit: 0,
        hideCaptionAtLimit: 0,
        hideAllCaptionAtLilmit: 0,
        startWithSlide: 0,
        fullScreenOffsetContainer: ".header"
      });

  });	//ready

</script>

<!-- isotope -->
<script type="text/javascript">

  jQuery(document).ready(function () {
    var $container = $('.iso-call');
    // init
    $container.isotope({
      // options
      itemSelector: '.project-post',
      masonry: {
        columnWidth: '.grid-sizer'
      }
    });
  });	//ready

</script>
