@page
@model Science_WebSite.Pages.NotFoundModel
@{
    ViewData["Title"] = "Not Found";
}


<div class="text-center notFound-text">
    <h1>Страница не найдена!</h1>
    <h4><a asp-page="/Index">На главную страницу</a></h4>
</div>



