@page
@model Science_WebSite.Pages.MockRegistrationModel
@{
    ViewData["Title"] = "MockRegistration";
}

<h2 style="margin-top:100px;">@Model.Message</h2>
<form method="post">
    <input name="name" id="mail" type="text" placeholder="Имя">
    <input name="email" id="mail" type="text" placeholder="Электронная почта">
    <input name="password" id="mail" type="text" placeholder="Пароль">
    <input type="submit" id="submit_contact" value="Send">
</form>
