@page 
@model Science_WebSite.Pages.User.PrivateAccModel
@{
    ViewData["Title"] = "Private Account";
    //Models.User user = Model._ 
    string id = HttpContext.Request.Cookies["key"];
}
@*<form method="get">@id</form>*@
<!-- content ================================================== -->
<div id="content">
    <!-- blog-section ================================================== -->
    <section class="blog-section single2">
        <div class="blog-post single-post">
            <div class="container">
                <h2 align="center">Профиль</h2>
                <div class="container">
                    <div class="panel">
                        <div class="panel-body">
                            <div id="myTabContent" class="tab-content">
                                <hr>
                                <div class="tab-pane fade active in" id="detail">
                                    <h4>Профиль пользователя</h4>
                                    <table class="table table-th-block">
                                        <tbody>
                                            <tr><td class="active">Имя:</td><td>@Model.user.Name</td></tr>
                                            <tr><td class="active">Email:</td><td>@Model.user.Email</td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End blog section -->

</div>
<!-- End content -->
