@page
@model Science_WebSite.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<!-- content ================================================== -->
<div id="content">
    <!-- blog-section ================================================== -->
    <section class="blog-section single2">

        <div class="blog-post single-post">

            <div class="container">
                <h2 align="center">Регистрация</h2>
                <div class="container">

                    <div class="comment-section">
                        <form class="comment-form">
                            <input name="login" id="login" type="text" placeholder="Логин">
                            <input name="password" id="password" type="text" placeholder="Пароль">
                            <input name="mail" id="mail" type="text" placeholder="Электронная почта">
                            <input type="submit" id="submit_contact" value="Зарегистрироваться">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End blog section -->
</div>
<!-- End content -->